// A

// B
.bold-dft{
    font-weight: bold;
}

// C
.container-dft{
    @extend %container;
}

.center-dft{
    text-align: center;
}

.crs-pointer-dft{
    cursor: pointer;
}

// D

// E

// F

// G

// H

// I

// J

// K

// L
.line-through-dft{
    text-decoration: line-through;
}

// M

// N

// O

// P

// Q

// R

// S

// T

// U
.underline-dft{
    text-decoration: underline;
}

.uppercase-dft{
    text-transform: uppercase;
}

// V

// W

// X

// Y

// Z

