// A

// B
$black: #000000;
$black-2: #535353;
$black-3: #969696;

// C

// D

// E

// F

// G

// H

// I

// J

// K

// L

// M

// N

// O

// P

// Q

// R
$red: #FF4848;

// S

// T

// W
$white: #FFFFFF;

// X

// Y

// Z

